.page {
    width: 1000px;
    margin: 0 auto; 
    font-family: 'Montserrat', sans-serif;
}

.content {
    margin-left: 100px;
}

.header {
    display: flex;
    background-color: #0193DA;
}

.menu {
    display: flex;
    align-items: center;
    padding: 16px 0 16px 0;
}

.list {
    display: flex;
    list-style: none;
    gap: 60px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-decoration-line: underline;
    color: white;
}
.header_logo {
    padding: 16px 312px 16px 29px;
}
h1 {
    padding-top: 6px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;


}

.heading {
    font-size: 30px;
    line-height: 38px;
    margin-top: 0px;
    margin-bottom: 25px;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    width: 351px;
    padding-top: 41px;
    padding-bottom:0 0 31px 0;
}

.features {
    list-style: none;
    margin: 0;
    padding: 0;    
}

.block {
    display: flex;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 24px 0 5px 0;
    margin: 0;
}

.text {
    font-weight: 400;
    font-size: 20px;
    width: 265px;
    line-height: 24px;
    padding: 2px 0 4px 0;
    margin:0 ;

}

.footer {
    background-color: #0193DA;
    padding: 44px 0 44px 0;


}

.footer_text {
    align-items: center;
    padding-left: 100px;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.picture {
    margin-left: 50px;
    padding-bottom: 75px;
    padding-top: 65px;
}